<html>
    <head>
        <style>
            body { text-align: center }
        </style>
    </head>
    <body>
        <h1> 404 Page Not Found</h1>
        <a href="<?php echo $this->getController()->getBaseUrl(); ?>">Click Here to go to Index Page</a>
    </body>
</html>

