<html>
    <head>
        <style>
            body { text-align: center; }
        </style>
    </head>
    <body>
        <h1>Index Page</h1>
        <a href="<?php echo $this->getToTaskUrl(); ?>">Proceed To Task Page</a>
    </body>
</html>
