<html>
    <head>
        <style>
            form .wrapper {
                text-align: center;
                display: block;
                width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
            form .result {
                display: none;
            }

            form .result.set {
                display: block;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/test/submit">
            <div class="wrapper">
                <div class="header">
                    <p>Type number of symbols</p>
                </div>
                <div class="fields">
                    <div class="field">
                        <input type="number" placeholder="Enter a length" name="length" value="<?php echo $this->getData('length'); ?>">
                    </div>
                    <div class="field">
                        <input type="checkbox" id="rule1" name="rule1" <?php echo $this->isNumberActive() ? 'checked' : '' ?>>
                        <label for="rule1">Numbers without 0 and 1</label>
                    </div>
                    <div class="field">
                        <input type="checkbox" id="rule2" name="rule2" <?php echo $this->isUppercaseActive() ? 'checked' : '' ?>>
                        <label for="rule2">Big letters without o and O</label>
                    </div>
                    <div class="field">
                        <input type="checkbox" id="rule3" name="rule3" <?php echo $this->isLowercaseActive() ? 'checked' : '' ?>>
                        <label for="rule3">Small letters without l</label>
                    </div>

                    <div class="field">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>

            <div class="result <?php echo $this->getData('password') ? 'set' : '' ?>">
                <div class="password">
                    <h3><?php echo $this->getData('password'); ?></h3>
                </div>

                <div class="confirmation-label">
                    <p>Password generated</p>
                </div>
            </div>
        </form>
    </body>
</html>
